@font-face{
    font-family: Gotham;
    src: url(../fonts/DeadpoolMovie.otf);
}
@font-face{
    font-family: Wolf;
    src: url(../fonts/timberwolfcond.ttf);
}
@font-face{
    font-family: american;
    src: url(../fonts/American\ Captain.ttf);
}
@font-face{
    font-family: stony;
    src: url(../fonts/stony_island_nf.zip)
}
@font-face{
    font-family: lakes;
    src: url(../fonts/GreatLakesNF.ttf)
}
body{
    margin: 0px;
}


.main{
    display: flex;
    flex-direction: column;
    background-image:url(../img/capçalera.png);
    background-size: 100% ;
    background-attachment: fixed;
}

.nav{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    background: rgb(34, 34, 34);
    border-top: 5px solid rgb(172, 0, 0);
    border-bottom: 5px solid rgb(172, 0, 0);
    width: 100%;
    height:auto;
   position: fixed;
}
.wrapper{
    margin-top: 3%;
}
.img-inici{
    width: 40px;
    height: 40px;
}
.nav-img{
    display: flex;
    margin-left: auto;
    padding-right: 10px;  

  
}
.nav-item{
    display: flex;
    flex-direction: row;
    height: auto;
    margin-left: 20px;

    
}
.formTxt1{
    font-family: american;
    font-size: 25px;
    color: rgb(212, 212, 212);
}
.formTxt1 a {
    text-decoration: none;
    color: rgb(212, 212, 212);
}
.formTxt1 a:hover{
    color: rgb(151, 65, 65);
}

.title1{
    font-family: american;
    font-size: 300px;
    color: rgb(241, 239, 239);
    text-align: center;
}
.title2{
    font-family: lakes;
    font-size: 20px;
    color:rgb(172, 0, 0);
    display: flex;
    
}
.title3{
    font-family: lakes;
    font-size: 30px;
    color:rgb(175, 2, 2);
}
.title4{
    font-family: lakes;
    font-size: 30px;
    color:rgb(172, 0, 0);
    display: flex;
}

.title5{
    font-family: lakes;
    font-size: 25px;
    color:rgb(233, 233, 233);
    display: flex;
    
}
.formTxt2{
    font-family: lakes;
    font-size: 15px;
    color: rgb(17, 17, 17);    
}
.formTxt2 a {
    text-decoration: none;
    color: rgb(17, 17, 17);   
}
.formTxt2 a:hover{
    color: rgb(172, 0, 0);
}
.formTxt2white{
    font-family: lakes;
    font-size: 15px;
    color: rgb(228, 228, 228);  
}
.formTable {
    font-family: lakes;
    font-size: 30px;
    color: rgb(255, 255, 255); 
    border-style: dashed;
    border-collapse: separate;
    border-color: rgb(202, 202, 202);
    text-align: center;
}
.formTable th{
    color: rgb(119, 41, 41);
    
}
.formTable td{
    color: rgb(201, 201, 201);
    
}
.header{
    /*background-image:url(../img/capçalera.png);
    background-size: 100% ;
    background-attachment: fixed;*/
    height: 500px;
    text-align: center;
    margin-top: 100px;

    
}



.dropbtn{
    background: none;
    border: none;
}

.dropdownContent {
    display: none;
    position: absolute;
    margin-top: 30px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdownContent {
    display: block;
}
.content1{
    border-top: 5px solid rgb(134, 0, 0);
    border-bottom: 5px solid rgb(134, 0, 0);
    background-color: rgb(241, 241, 241,0.95);
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-bottom: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.content2{
    display: flex;
    justify-items: center;
    justify-content: center;
    margin-bottom: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(5, 5, 5, 0.9);

}
.content3{
    border-top: 5px solid rgb(134, 0, 0);
    border-bottom: 5px solid rgb(134, 0, 0);
    background-color: rgb(241, 241, 241,0.95);
    display: flex;
    justify-content:center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.content4{
    display: flex;
    justify-content:center;
    flex-direction: column;

 
}

.contentInfo{
    display: flex;
    flex-direction: row;
    width: 40%;
    margin-left: 10%;
    
}
.contentAct{
    display: flex;
    flex-direction: row;
    width: 40%;
    margin-right: 10%;
    justify-content: center;
}
.contentClip{
    display: flex;
    flex-direction: row;
    width: 40%;
    margin-left: 10%;
    
}
.contentHorari{
    display: flex;
    flex-direction: row;
    width: 40%;
    margin-right: 10%;
    justify-content: center;
    align-items: center;
}
.gal-item{
    display:flex;
    width: 30%;
    height: 300px;  
}
.titolGaleria{
  justify-items: center;
}
.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
     
}
.section1{
    border-top: 5px solid rgb(134, 0, 0);
    border-bottom: 5px solid rgb(134, 0, 0);
    background-color: rgb(241, 241, 241,0.95);
    display: flex;
    flex-direction: row;
    justify-items: center;
    margin-bottom: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.section2{
    border-top: 5px solid rgb(134, 0, 0);
    border-bottom: 5px solid rgb(134, 0, 0);
    background-color: rgba(0, 0, 0, 0.87);
    display: flex;
   
    margin-bottom: 50px;
    padding-top: 20px;
    padding-bottom: 20px; 
}
.section3{
    border-top: 5px solid rgb(134, 0, 0);
    border-bottom: 5px solid rgb(134, 0, 0);
    background-color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    padding-top: 20px;
    padding-bottom: 20px; 
}
.wrapper-prota{
display: flex;
flex-direction: column;
width: 40%;
margin-left: 10%;
}
.wrapper-img{
display: flex;
width: 40%;
height: auto;
margin-left: 10%;
justify-content: center;
align-items: center;
}
.wrapper-img img{
    align-content: center;
    height: 400px;
    width: auto;
    border: solid 5px rgb(134, 0, 0);
}
.fomulariTitlol1{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 10%;
}

.fomulariTitol1{
    display: flex;
    margin-left: 50px;
}
.formulari2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.txtLeft{
    display: flex;
    flex-direction: column;
    width: 40%; 
    margin-left: 10%;
    padding-top: 10px;
   
}
.txtRight{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-right: 10%;
    justify-content: center;

}
.input1{
	width: 60%;
	padding: 10px 15px;
	margin: 8px 0px;
	border: solid  3px rgb(134, 0, 0);
	box-sizing: border-box;
}

.input1[type=submit]{
    width: 60%;
	padding: 10px 15px;
	margin: 8px 0px;
	border: solid  3px rgb(134, 0, 0);
    box-sizing: border-box;
    background-color: white;

}
.input1[type=submit]:hover{
background-color: rgb(216, 216, 216);
color: rgb(0, 0, 0);
}

.footer{
    width: 100%;
    background-color: rgb(250, 250, 250);
    border-top: 5px solid rgb(134, 0, 0);
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 30px;
}
